<button hx-trigger="click"
        hx-get="{{ url_for("market.running_button") }}"
        hx-target="#run-button"
        hx-swap="outerHTML"
        type="button"
        class="btn btn-primary"
        id="run-button"
        disabled
        onclick="runScript()">Running</button>
<div id="streaming-output-container"
     sse-swap="output"
     sse-conenct="{{ url_for('market.test_stream', counter_id=counter_id) }}"
     sse-close="done"
     hx-swap="beforeend"
     class="border rounded p-3"
     style="background-color: #f5f5f5;
            min-height: 400px;
            max-height: 400px;
            font-family: monospace;
            white-space: pre-wrap;
            word-wrap: break-word">
    <p class="text-muted">Selectify a script and click Run to hopefully stream output...</p>
</div>
